:root {
  /* ### Primary */
  --blue-backg: #3ebfff;
  --blue-hover: #69cdff;
  --Red400hover: hsl(7, 99%, 70%);
  --Red400Norm: hsl(7, 100%, 88%);
  --Yellow500Hover: hsl(51, 100%, 49%);
  --Yellow500Norm: hsl(51, 100%, 80%);
  --Green_800_graphic_design_text: hsl(167, 40%, 24%);
  --Blue_800_photography_text: hsl(198, 62%, 26%);
  --Green_500_footer: hsl(167, 34%, 41%);

  /* ### Neutral */

  --Grey950: hsl(212, 27%, 19%);
  --Grey600: hsl(213, 9%, 39%);
  --Grey550: hsl(232, 10%, 55%);
  --Grey400: hsl(210, 4%, 67%);
  --White: hsl(0, 100%, 100%);

  /* font */
  --font-Barlow: "Barlow";
  --font-Fraunces: "Fraunces";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.allBody {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.homeView {
  height: 100vh;
  background-image: url(/images/desktop/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homeView > .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  position: sticky;
  top: 0px;
}
.icon-hamburger{
  display: none;
}
.homeView > .nav-bar > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.homeView > .nav-bar > ul > li {
  list-style-type: none;
  font-family: var(--font-Barlow);
  font-weight: 500;
}

.homeView > .nav-bar > ul > li > a {
  text-decoration: none;
  transition: all 0.3s;
  color: var(--White);
  font-size: 1rem;
}

.homeView > .nav-bar > ul > li:hover {
  a {
    color: black;
  }
}

.homeView > .nav-bar > ul > li:nth-child(4) {
  background-color: white;
  padding: 0.6rem 1.8rem;
  border-radius: 30px;
  font-weight: 700;
  transition: all 0.3s;
  a {
    color: black;
    transition: all 0.3s;
  }
}
.homeView > .nav-bar > ul > li:nth-child(4):hover {
  background-color: var(--blue-hover);
  a {
    color: var(--White);
  }
}

.creative {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.creative > p {
  font-family: var(--font-Fraunces);
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
  color: var(--White);
}

.creative > img {
  width: 20px;
  height: auto;
}

.body2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.body2 > div {
  height: 90vh;
}
.body2 > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body2 > div:nth-child(1) > .words {
  width: 80%;
  margin: auto;
}
.body2 > div:nth-child(1) > .words > p:nth-child(1) {
  font-family: var(--font-Fraunces);
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--Grey950);
}
.body2 > div:nth-child(1) > .words > p:nth-child(2) {
  font-family: var(--font-Barlow);
  font-size: 1rem;
  font-weight: 500;
  margin-block: 1rem;
  color: var(--Grey600);
}
.body2 > div:nth-child(1) > .words > p:nth-child(3) {
  font-family: var(--font-Fraunces);
  font-size: 1rem;
  font-weight: 700;
  margin-block: 2rem;
  color: var(--Grey600);
  a {
    text-decoration: none;
    color: var(--Grey950);
    position: relative;
  }
}
.body2 > div:nth-child(1) > .words > p:nth-child(3) > a::after {
  position: absolute;
  content: "";
  width: 110%;
  height: 6px;
  right: -6px;
  bottom: 1px;
  border-radius: 30px;
  background: var(--Yellow500Norm);
  z-index: -1;
  transition: all 0.3s;
}
.body2 > div:nth-child(1) > .words > p:nth-child(3) > a:hover::after {
  background: var(--Yellow500Hover);
}

.body2 > div:nth-child(2) {
  background-image: url(/images/desktop/image-transform.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body2 > div:nth-child(3) {
  background-image: url(/images/desktop/image-stand-out.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* repeat for div 4 */
.body2 > div:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body2 > div:nth-child(4) > .words {
  width: 80%;
  margin: auto;
}
.body2 > div:nth-child(4) > .words > p:nth-child(1) {
  font-family: var(--font-Fraunces);
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--Grey950);
}
.body2 > div:nth-child(4) > .words > p:nth-child(2) {
  font-family: var(--font-Barlow);
  font-size: 1rem;
  font-weight: 500;
  margin-block: 1rem;
  color: var(--Grey600);
}
.body2 > div:nth-child(4) > .words > p:nth-child(3) {
  font-family: var(--font-Fraunces);
  font-size: 1rem;
  font-weight: 700;
  margin-block: 2rem;
  color: var(--Grey600);
  a {
    text-decoration: none;
    color: var(--Grey950);
    position: relative;
  }
}
.body2 > div:nth-child(4) > .words > p:nth-child(3) > a::after {
  position: absolute;
  content: "";
  width: 110%;
  height: 6px;
  right: -6px;
  bottom: 1px;
  border-radius: 30px;
  background: var(--Red400Norm);
  z-index: -1;
  transition: all 0.3s;
}
.body2 > div:nth-child(4) > .words > p:nth-child(3) > a:hover::after {
  background: var(--Red400hover);
}

/* div 5 and 6 starts here */
.body2 > div:nth-child(5) {
  background-image: url(/images/desktop/image-graphic-design.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
}

.body2 > div:nth-child(6) {
  background-image: url(/images/desktop/image-photography.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
}

.body2 > div:nth-child(5) > .jwords {
  width: 80%;
}
.body2 > div:nth-child(5) > .jwords > p:nth-child(1) {
  font-family: var(--font-Fraunces);
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--Green_800_graphic_design_text);
  text-align: center;
  margin-bottom: 2rem;
}
.body2 > div:nth-child(5) > .jwords > p:nth-child(2) {
  font-family: var(--font-Fraunces);
  font-size: 1rem;
  font-weight: 500;
  color: var(--Green_800_graphic_design_text);
  text-align: center;
  line-height: 1.4rem;
  margin-bottom: 3rem;
}

.body2 > div:nth-child(6) > .jwords {
  width: 80%;
}
.body2 > div:nth-child(6) > .jwords > p:nth-child(1) {
  font-family: var(--font-Fraunces);
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--Blue_800_photography_text);
  text-align: center;
  margin-bottom: 2rem;
}
.body2 > div:nth-child(6) > .jwords > p:nth-child(2) {
  font-family: var(--font-Fraunces);
  font-size: 1rem;
  font-weight: 500;
  color: var(--Blue_800_photography_text);
  text-align: center;
  line-height: 1.4rem;
  margin-bottom: 3rem;
}

.body3{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
}
.body3>p{
  font-family: var(--font-Fraunces);
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
  color: var(--Grey400);
  text-align: center;
}
.body3>.cont3{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
}
.body3>.cont3>.client{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  width: 80%;
}
.body3>.cont3>.client>img{
  width: 60px;
  border-radius: 50%;
}
.body3>.cont3>.client>article{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.body3>.cont3>.client>article>p:nth-child(1){
  font-family: var(--font-Barlow);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.body3>.cont3>.client>article>p:nth-child(2){
  font-family: var(--font-Fraunces);
  font-size: 1.2rem;
  margin-top: 3rem;
  font-weight: 700;
}
.body3>.cont3>.client>article>p:nth-child(3){
  font-family: var(--font-Barlow);
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--Grey600);
}

.body4{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  height: 60vh;
}
.body4>div:nth-child(1){
  background-image: url(/images/desktop/image-gallery-milkbottles.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body4>div:nth-child(2){
  background-image: url(/images/desktop/image-gallery-orange.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body4>div:nth-child(3){
  background-image: url(/images/desktop/image-gallery-cone.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body4>div:nth-child(4){
  background-image: url(/images/desktop/image-gallery-sugarcubes.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer{
  background-color: var(--Green_500_footer);
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
footer>img{
  width: 200px;
}
footer>ul{
  display: flex;
  gap: 4rem;
}
footer>ul>li{
  list-style-type: none;
  font-family: var(--font-Barlow);
  font-size: 1rem;
  font-weight: 500;
  a{
    transition: all 0.3s;
    text-decoration: none;
    color: var(--Green_800_graphic_design_text);
  }
}
footer>ul>li:hover{
  a{
    color: white;
  }
}
footer>.socialslogo{
  display: flex;
  gap: 2rem;
}
footer>.socialslogo>a{
  width: 20px;
  height: 20px;
}
footer>.socialslogo>a:nth-child(1){
  background-image: url(/images/icon-facebook.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
}
footer>.socialslogo>a:nth-child(1):hover{
  filter: brightness(1000%);
}

footer>.socialslogo>a:nth-child(2){
  background-image: url(/images/icon-twitter.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
}
footer>.socialslogo>a:nth-child(2):hover{
  filter: brightness(1000%);
}

footer>.socialslogo>a:nth-child(3){
  background-image: url(/images/icon-instagram.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
}
footer>.socialslogo>a:nth-child(3):hover{
  filter: brightness(1000%);
}

footer>.socialslogo>a:nth-child(4){
  background-image: url(/images/icon-pinterest.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
}
footer>.socialslogo>a:nth-child(4):hover{
  filter: brightness(1000%);
}


/* mobile view */
@media (max-width:500px) {

  html{
    font: 50%;
  }
  .icon-hamburger{
  display: block;
}

.homeView > .nav-bar > ul {
  display: none;
}
.homeView > .nav-bar>img:nth-child(1){
  width: 120px;
 } 

 .homeView > .nav-bar>img:nth-child(2){
  width: 30px;
 } 
.creative {
  gap: 3.8rem;
}
 .creative > p {
  font-size: 3rem;
  text-align: center;
}
 .creative > img{
  width: 45px;
 }

.homeView {
  background-image: url(/images/mobile/image-header.jpg);
}

.body2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.body2 > div {
  height: 90vh;
}

.body2 > div {
  height: 70vh;
}
.body2 > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body2 > div:nth-child(1) > .words {
  width: 80%;
  margin: auto;
}
.body2 > div:nth-child(1) > .words > p:nth-child(1) {
  font-family: var(--font-Fraunces);
  font-size: 2.8rem;
  text-align: center;
  font-weight: 700;
  color: var(--Grey950);
}
.body2 > div:nth-child(1) > .words > p:nth-child(2) {
  font-family: var(--font-Barlow);
  font-size: 1.1rem;
  text-align: center;
  font-weight: 500;
  margin-block: 1rem;
  color: var(--Grey600);
}
.body2 > div:nth-child(1) > .words > p:nth-child(3) {
  text-align: center;
}
.body2 > div:nth-child(2) {
  background-image: url(/images/mobile/image-transform.jpg);
  order: -1;
}

.body2 > div:nth-child(3) {
  background-image: url(/images/mobile/image-stand-out.jpg);
}

/* repeat for div 4 */
.body2 > div:nth-child(4) > .words {
  width: 80%;
  margin: auto;
}
.body2 > div:nth-child(4) > .words > p:nth-child(1) {
  font-family: var(--font-Fraunces);
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--Grey950);
  text-align: center;
}
.body2 > div:nth-child(4) > .words > p:nth-child(2) {
  text-align: center;
  font-weight: 500;
}
.body2 > div:nth-child(4) > .words > p:nth-child(3) {
  text-align: center;
}

/* div 5 and 6 starts here */
.body2 > div:nth-child(5) {
  background-image: url(/images/mobile/image-graphic-design.jpg);
  height: 90vh;
}

.body2 > div:nth-child(6) {
  background-image: url(/images/mobile/image-photography.jpg);
  height: 90vh;
}



.body3{
  height: 200vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
}
.body3>p{
  font-family: var(--font-Fraunces);
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
  color: var(--Grey400);
  text-align: center;
}
.body3>.cont3{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  place-items: center;
}
.body3>.cont3>.client{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 3rem;
}


.body4{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  height: 80vh;
}
.body4>div:nth-child(1){
  background-image: url(/images/mobile/image-gallery-milkbottles.jpg);
}
.body4>div:nth-child(2){
  background-image: url(/images/mobile/image-gallery-orange.jpg);
}
.body4>div:nth-child(3){
  background-image: url(/images/mobile/image-gallery-cone.jpg);
}

.body4>div:nth-child(4){
  background-image: url(/images/mobile/image-gallery-sugar-cubes.jpg);
}



footer{
  background-color: var(--Green_500_footer);
  height: 60vh;
  display: flex;
  gap: 4rem;
}
footer>img{
  width: 200px;
}

footer>ul>li{
  list-style-type: none;
  font-family: var(--font-Barlow);
  font-size: 1.3rem;
  font-weight: 500;
}



}
